<section id="about" class="py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">

        <div class="card border-0 shadow-lg p-4 bg-white rounded-4">
          <div class="card-body">
            <h2 class="card-title text-center mb-4 text-primary">Sobre mí</h2>

            <p class="lead text-secondary">
              Soy desarrollador de software con formación en Desarrollo de Aplicaciones Multiplataforma (DAM) y una gran motivación por el mundo del desarrollo front-end.
              Desde los 17 años he trabajado en diferentes sectores, lo que me ha aportado mucha experiencia en varios ámbitos de trabajo.
              Paralelamente, siempre que he tenido la oportunidad, he invertido mi tiempo en formarme y crecer en el ámbito tecnológico.
            </p>

            <p class="text-secondary">
              A pesar de que la pandemia limitó la realización completa de mis prácticas, pude adquirir experiencia durante tres meses aplicando conocimientos de programación y diseño de aplicaciones.
              Desde entonces, continúo formándome y desarrollando proyectos personales con tecnologías como <strong>Angular</strong>, <strong>TypeScript</strong>, <strong>SCSS</strong> y <strong>NgBootstrap</strong>.
            </p>

            <p class="text-secondary mb-0">
              Soy una persona constante, resolutiva y con una gran capacidad de adaptación. Busco incorporarme a un equipo donde pueda seguir creciendo como desarrollador y poder adquirir experiencia en este sector..
            </p>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

