<section id="home" class="home d-flex align-items-center justify-content-center text-center text-white ">
  <div>
    <h1 class="display-4 fw-bold mb-3">¡Hola, soy <span class="highlight">MARIO PALLIZA SÁNCHEZ</span>!</h1>
  <div class="container text-center mt-5 mb-4">
    <div class="lead mb-4">
    <p>Soy un desarrollador front-end con experiencia en Angular, TypeScript, y tecnologías web.
      <p>Mi objetivo es formarme y aprender todo lo posible en el mundo del desarrollo web, para poder aplicar mis conocimientos en proyectos reales.</p>

      <p>Desarrollar aplicaciones eficientes que agraden a los usuarios y ayuden a las empresas a alcanzar sus objetivos.</p>

      <div class="about-card-container position-relative fw-bold pt-3">

        <h4>Habilidades Tecnológicas</h4>

      <div class="p-2 mt-2 ">
        <ol>Angular</ol>
        <ol>HTML,CSS,SCSS</ol>
        <ol>JavaScript, TypeScript, ECMAScript</ol>
        <ol>Bootstrap, Material Design, Angular Material</ol>
        <ol>API RESTful</ol>
        <ol>Git y GitHub</ol>
      </div>
    </div>

  </div>
</div>
  <div class="container align-items-center">
    <a href="../../../assets/CV Mario Palliza (prog).pdf" class="btn btn-outline-info btn-lg mt-4" download>Descargar CV</a>
  </div>
</div>

</section>



