<!-- src/app/footer/footer.component.html -->
<footer id="contact" class="bg-dark text-white py-4">
  <div id="footer" class="container text-center">
    <p>&copy; 2025 MARIO PALLIZA SÁNCHEZ. Todos los derechos reservados.</p>
    <div class="container">
      <a href="https://github.com/MarioClase" target="_blank" class="text-white mx-2">
        <i id="github" class="bi bi-github me-2"></i>GitHub
      </a>
      <a id ="linkedin" href="https://www.linkedin.com/in/mario-palliza-sanchez-20749313a/" target="_blank" class="text-white mx-2">
        <i id="linkedin" class="bi bi-linkedin me-2"></i>LinkedIn
      </a>
      <a href="mailto:mario.palliza@gmail.com" class="text-white mx-2">
        <i id="email" class="bi bi-envelope me-2"></i>Email
      </a>
    </div>
  </div>
</footer>
